<h1 id="hd">Booki Stores</h1>
<div class="scene">
<div class="book-wrap">
    <div class="left-side">
    <div class="book-cover-left"></div>
    <div class="layer1">
        <div class="page-left"></div>
    </div>
    <div class="layer2">
        <div class="page-left"></div>
    </div>
    <div class="layer3">
        <div class="page-left"></div>
    </div>
    <div class="layer4">
        <div class="page-left"></div>
    </div>
    <div class="layer-text">
        <div class="page-left-2">
        <div class="corner"></div>
        <div class="corner2"></div>
        <div class="corner-fold"></div>
        <div class="page-text w-richtext">
            <h3 class="head3"><strong>America</strong></h3>
            <h6 class="head6">BY <a href="https://www.poetryfoundation.org/poets/walt-whitman" target="_blank" class="anc">WALT WHITMAN</a></h6>
            <p class="parag">‍</p>
            <p class="parag">Centre of equal daughters, equal sons,</p>
            <p class="parag">All, all alike endear’d, grown, ungrown, young or old,</p>
            <p class="parag">Strong, ample, fair, enduring, capable, rich,</p>
            <p class="parag">Perennial with the Earth, with Freedom, Law and Love,</p>
            <p class="parag">A grand, sane, towering, seated Mother,</p>
            <p class="parag">Chair’d in the adamant of Time.</p>
        </div>
        </div>
    </div>
    </div>
    <div class="center"></div>
    <div class="right-side">
    <div class="book-cover-right"></div>
    <div class="layer1">
        <div class="page-right"></div>
    </div>
    <div class="layer2 right">
        <div class="page-right"></div>
    </div>
    <div class="layer3 right">
        <div class="page-right"></div>
    </div>
    <div class="layer4 right">
        <div class="page-right"></div>
    </div>
    <div class="layer-text right">
        <div class="page-right-2">
        <div class="page-text w-richtext">
            <h3 class="head3"><strong>A Glimpse</strong></h3>
            <h6 class="head6">BY <a href="https://www.poetryfoundation.org/poets/walt-whitman" target="_blank" class="anc">WALT WHITMAN</a></h6>
            <p class="parag">‍</p>
            <p class="parag">A glimpse through an interstice caught, </p>
            <p class="parag">Of a crowd of workmen and drivers in a bar-room around the stove late of a winter night, and I unremark’d seated in a corner, </p>
            <p class="parag">‍</p>
            <p class="parag">Of a youth who loves me and whom I love, silently approaching and seating himself near, that he may hold me by the hand, </p>
            <p class="parag">‍</p>
            <p class="parag">A long while amid the noises of coming and going, of drinking and oath and smutty jest, </p>
            <p class="parag">‍</p>
            <p class="parag">There we two, content, happy in being together, speaking little, perhaps not a word. </p>
        </div>
        </div>
    </div>
    </div>
</div>
</div>
