<div class="bg-dark text-center text-white p-2">
    <h2>Founder</h2>
    <div class="row justify-content-center founders">
         <%# <div class="">
            <a href="https://github.com/Ahmed-Abd-elhamid" class="col-sm-5 col-lg-2 btn btn-outline-primary text-white">Ahmed Abdelhamid GitHub</a>
        </div>
        <div class="col-sm-5 col-lg-2">
            <a href="https://www.linkedin.com/in/ahmed-abdelhamd/" class="btn btn-outline-primary text-white">Ahmed Abdelhamid LinkedIn</a>
        </div> %>
    </div>
    <p>Website_GitHub &copy; <a href="">Template-Repo</a><p>
</div>