<div class="social-panel-container">
    <div class="social-panel">
        <p>Created by
            <a target="_blank" href="https://www.linkedin.com/in/ahmed-abdelhamd/">Ahmed Abdelhamid</a></p>
        <button class="close-btn">X</button>
        <h4>Get in touch on</h4>
        <ul>
            <li>
                <a href="https://github.com/Ahmed-Abd-elhamid" target="_blank">GitHub</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/ahmed-abdelhamd/" target="_blank">LinkedIn</a>
            </li>
            <li>
                <a href="https://www.facebook.com/A.AbdelHamid.93" target="_blank">FaceBook</a>
            </li>
        </ul>
    </div>
</div>

<button class="floating-btn">
    Get in Touch
</button>